# Ignorar archivos y carpetas generadas automáticamente
__pycache__
*.pyc
*.pyo
*.pyd

# Ignorar archivos de registro y de depuración
*.log
*.swp

# Ignorar archivos de configuración local
.env
.env.*

# Ignorar archivos y carpetas de dependencias
venv/
env/
*.venv/
node_modules/
Pipfile.lock
