[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "*"
grpcio-tools = "*"
fastapi = "*"
uvicorn = "*"
pytest = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
build = "python -m grpc_tools.protoc -I . --python_out=. --grpc_python_out=. nea-translator.proto"
start = "uvicorn api_server:app --reload"
start_container= "uvicorn api_server:app --host 0.0.0.0 --port 8000"
test = "pytest"
